<html>
<head>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/98/three.min.js'></script>
</head>
	<body>



		<div id="container"></div>
		<script>

			// establish scale between 1 in particle size and 1 in SphereGeometry Size
			// SphereGeometry 1: Particle 1
			// SphereGeometry: radius of 1 = 3959 miles
			// ParticleGeometry:  depends on scale of 1 to 1 of sphere geometry
			// 1 mile = .01
			// sample distance miles: 3401319 = 34013.19
			var meteors = JSON.parse('{{meteors|tojson|safe}}');

			var container;

			var camera, scene, renderer;

			var points;

			init();

			async function init() {

				container = document.getElementById( 'container' );

				//

				camera = new THREE.PerspectiveCamera( 27, window.innerWidth / window.innerHeight, 5, 100000 );
				camera.position.z = 5000;

				scene = new THREE.Scene();
				scene.background = new THREE.Color( 0x050505 );
				scene.fog = new THREE.Fog( 0x050505, 2000, 3500 );

				var particles = meteors.length;

				var geometry = new THREE.BufferGeometry();

				var positions = [];
				var colors = [];
				var sizes = []
				var color = new THREE.Color();

				var radius = 650
				var n = 1000, n2 = n / 2; // particles spread in the cube

				for ( var i = 0; i < particles; i ++ ) {



					// positions
					//var x = (Math.random() - .5)
					//var y = (Math.random() - .5)
					//var z = (Math.random() - .5)
					console.log(meteors[i].miss_distance)
					//var magnitude = Math.sqrt(x*x + y*y + z*z)
					//x /= magnitude
					//y /= magnitude
					//z /= magnitude
					//positions.push( x * radius * Math.random() , y * radius * Math.random(), z * radius * Math.random());
					//colors.push(0, 0, 0)
					positions.push(meteors[i].miss_distance.amount / 100 * -1, 0, 0)
				}

				geometry.addAttribute( 'position', new THREE.Float32BufferAttribute( positions, 3 ) );

				geometry.computeBoundingSphere();

				//
				var texture =  new THREE.TextureLoader().load('https://aerotwist.com/static/tutorials/creating-particles-with-three-js/images/particle.png')
				var material = new THREE.PointsMaterial( { size:10.0, color: 0xFFFFFF, sizeAttenuation: false, map:texture, transparent:true, blending: THREE.AdditiveBlending} );
				points = new THREE.Points( geometry, material );
				scene.add( points );

				var earth = new THREE.SphereGeometry(39.59, 32, 32)
				var moon = new THREE.SphereGeometry(10.79, 32, 32)
				var earthMaterial = new THREE.MeshNormalMaterial();
				var earthMesh = new THREE.Mesh(earth, earthMaterial)
				var moonMesh = new THREE.Mesh(moon, earthMaterial);
				moonMesh.position.x = 2389.00
				scene.add(earthMesh)
				scene.add(moonMesh)
				//

				renderer = new THREE.WebGLRenderer();
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight );


				container.appendChild( renderer.domElement );

				//


				//

				window.addEventListener( 'resize', onWindowResize, false );
				animate();

			}

			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

			}

			//

			function animate() {

				requestAnimationFrame( animate );

				render();

			}

			function render() {
				//var magnitude = Math.sqrt(points.position.x*points.position.x + points.position.y*points.position.y + points.position.z*points.position.z)

				renderer.render( scene, camera );

			}

		</script>

	</body>
